<!doctype htlm>
<html>

<head>
    <title>WEB322 App</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />

</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="titlediv">
                    <h1>
                        <div>myApp.</div>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="pull-left">
                        <li> <a href="/" onmouseover=style.color='#555555' onmouseout=style.color='black'> Home </a> |</li>
                        <li> <a href="/about" onmouseover=style.color='#555555' onmouseout=style.color='black'> About </a> </li>
                    </ul>
                    <ul class="pull-right">
                        <li> <a href="/employees" onmouseover=style.color='#555555' onmouseout=style.color='black'> All Employees </a> |</li>
                        <li> <a href="/managers" onmouseover=style.color='#555555' onmouseout=style.color='black'> Managers </a> |</li>
                        <li> <a href="/departments" onmouseover=style.color='#555555' onmouseout=style.color='black'> Departments </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer col-md-12">
                        <h2>&copy; Justin Cook</h2>
                    </div>
                </div>
            </div>
        </footer>
</body>

</html>