<div class="row">
	<section class="about col-md-12">
		<article>
			<h2>Justin Cook - "the developer"</h2>
			<p>Hello!</p>
			<p>I am a third semester student in the CPA program. I am very interested in learning about new technologies used in the
				development industry.</p>
			<p>my main interests don't revolve around web development but I am slowly starting to be more interested as we progress and
				learn cooler and more useful</p>
			<p>things and I am looking forward to making and deploying web applications.</p>
		</article>
	</section>
</div>