<!doctype html>
<html>

<head>
	<title>About</title>
	<link rel="stylesheet" href="css/site.css" type="text/css" />
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="titlediv">
					<h1>myApp.</h1>
				</div>
			</div>
		</div>
	</header>
	<nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="./"> Home </a> |</li>
						<li> <a href="./about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<section class="main col-md-12">
				<article>
					<h2>Justin Cook - "the developer"</h2>
					<p>Hello!</p>
					<p>I am a third semester student in the CPA program. I am very interested in learning about new technologies used in the
						development industry.</p>
					<p>my main interests don't revolve around web development but I am slowly starting to be more interested as we progress
						and learn cooler and more useful</p>
					<p>things and I am looking forward to making and deploying web applications.</p>
				</article>
			</section>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Footer</h2>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>