@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Assistant');

body{
		   margin: 0;
		   width:100%;
		   height:100%;
		   font-family:Assistant;
		   background-color:#fff;
	    }
		
		header{
			
			background-color: teal;
			padding:1px 25px;
			
		}
		
		nav{
			padding:8px;
			background-color: #FCFBE3;
			box-shadow:2px 2px 2px grey;
			margin-bottom:10px;
		}
		
		nav ul{
			list-style-type: none;
			padding-left:0px;
			margin:0px;
			font-family:Assistant;
		}
		
		nav ul li{
			display:inline-block;
			background-color: #FCFBE3;
		}
		
		nav ul li a{
			background-color: #FCFBE3;
			color: #000;
			text-decoration: none;
			padding:0 5px;	
			font-weight:bold;
			text-transform: uppercase;
			font-size:15px;
		}
		
		footer{
			background-color: #FCFBE3;
			color: #000;
			padding:10px;
			position:fixed;
			bottom:0;
			left:0;
			right:0;
			height:35px;
		}
		
		footer h2{
			margin:0px;
			text-transform: uppercase;
			font-size:13px;
			font-weight:bold;
			padding:0 5px;	
			font-family:Assistant;
		}
		.col-md-3 {	
			padding-top:5px;
			float:left;
			margin:auto;
			column-width:40%;
		}
		
		
		.main.col-md-9 {	
			padding-left:7%;
			padding-right:2%;
			column-width: 40%;
			margin:auto;
			overflow-y:auto;
			padding-bottom:5%;
		}
		
		header h1 {	
			padding-left:16px;
			font-size: 22px;
			color: #fff;
			color:#fff;	
			font-family:Cabin;
			
		}
	
		.col-md-3 img{
			padding-top:20%;
			padding-left:5%;
			padding-bottom:18%;
		}
		.col-md-3 div{
			width:250px;
			border:8px solid teal;
		}
		.main.col-md-12{
			margin-top:20px;
			padding-bottom:15px;	
			border: 2px dashed #ddd;
		}